.header__link {
  color: white;
  text-decoration: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-left: 24px;
}

.header__link:hover {
  cursor: pointer;
  color: #A9A9A9;
}

@media screen and (max-width: 400px) {
  .header__link {
    margin: 18px auto 40px;
  }
}
