.popup__submit {
  width: 100%;
  min-height: 50px;
  margin: 48px 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background: #000000;
  border-radius: 2px;
}

.popup__submit:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .popup__submit {
    margin: 36px 0 0;
    font-size: 14px;
    line-height: 17px;
    line-height: 15px;
  }
}
